@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--Primary-500: #A53DFF;
	--Gray-White: #FFF;
	--Gray-900: #132238;
	--Gray-bg: #EDD8FF;
	--Gray-700: #424E60;
	--Gray-500: #697484;
	--Gray-50: #F0F1F3;
	--Gray-400: #87909D;
	--Gray-600: #556070;
	--Gray-800: #2B384C;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: transparent; 
}

::-webkit-scrollbar-thumb {
	background: none;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--Gray-700); 
}

.navbar {
	display: flex;
	width: 100%;
	padding: 10px 150px;
	justify-content: space-between;
	align-items: center;
}

#logo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
}

#logo-letter {
	display: flex;
	height: 56px;
	padding: 0px 20px;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	border-radius: 1000px;
	background: var(--Primary-500);
	color: var(--Gray-White);
	font-family: "Work Sans", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 56px;
}

#logo-name {
	color: var(--Gray-900);
	font-family: "Work Sans", sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 40px;
}

.menu {
	display: flex;
	align-items: flex-start;
	list-style: none;
}

.menu a {
	text-decoration: none;
	color: #333333;
	font-family: "Work Sans", sans-serif;
	padding: 12px 24px;
	font-size: 12px;
}

.menu a:hover {
	background: var(--Primary-500);
	color: var(--Gray-White);
	font-weight: 700;
	font-size: 14px;
	border-radius: 5px;
}

.mobile-navbar {
	display: none;
}

.cl-container {
	position: relative;
	overflow: hidden;
	display: flex;
	height: 480px;
}

.cl-container::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 30%; 
	background: linear-gradient(180deg, rgba(218, 77, 241, 0.2), rgba(196, 245, 233, 0.8));
	filter: blur(150px);
	z-index: 0; 
}

.cl-container::after {
	content: '';
	position: absolute;
	top: 10%;
	left: 0;
	bottom: 0;
	width: 3%; 
	background: rgba(218, 77, 241, 0.5);
	filter: blur(150px);
	z-index: 0; 
}

.lg-container {
	position: absolute;
	display: flex;
	padding: 2rem;
	width: 80%;
	height: 470px;
	top: 15%;
	left: 10%;
	box-shadow: 1px 1px 10px 1px;
	border: none;
	border-radius: 10px;
	font-family: "Work Sans", sans-serif;
	background-color: #fff;
}

.lt-blog {
	width: 50%;
}

.lt-blog h1 {
	font-size: 40px;
	font-weight: 600;
}

.lt-blog p {
	font-size: 16px;
	padding: 2rem;
}

.lt-blog button {
	font-size: 18px;
	border: 2px #000 solid;
	border-radius: 10px;
	color: #000;
	font-weight: 600;
	background-color: transparent;
	padding: 1rem;
	margin-left: 10rem;
	margin-top: 3rem;
}

.lg-div {
	width: 40%;
	margin-left: 10%;
}

.lg-div h1 {
	font-size: 40px;
	font-weight: 600;
	width: 80%;
}

.lg-div h1 span {
	color: var(--Primary-500);
}

.lg-div p {
	font-size: 16px;
	font-weight: 200;
	padding: 1rem 0;
}

form {
	display: grid;
	gap: 0.2rem;
}

.valid-div {
	color: crimson;
	margin-top: 7rem;
}

#errorNote {
	display: none;
}

form input {
	position: fixed;
	height: 2rem;
	padding: 1rem;
	border: none;
	border-bottom: 1px var(--Gray-500) solid;
	font-size: 16px;
	font-weight: 200;
	outline: none;
}

form input[type="password"] {
	margin-top: 5rem;
}

form button {
	position: fixed;
	font-size: 18px;
	color: #fff;
	padding: 1rem 1.5rem;
	margin-top: 12rem;
	border-radius: 5px;
	border: none;
	background-color: var(--Primary-500);
	width: 180px;
	text-align: center;
	font-weight: 600;
}

form button svg {
	margin-left: 1rem;
}

.footer-container {
	display: grid;
	justify-content: center;
	font-family: "Work Sans", sans-serif;
	background-color: var(--Gray-800);
	padding: 1.3rem 0;
}

.footer-nav {
	display: flex;
	width: 100%;
	padding: 5px 150px;
	gap: 20px;
	align-items: center;
	color: var(--Gray-White);
	bottom: 0;
}

#ft-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
}

#ft-logo-letter {
	display: flex;
	height: 56px;
	padding: 0 20px;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	border-radius: 1000px;
	background: var(--Primary-500);
	color: var(--Gray-White);
	font-family: "Work Sans", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 56px;
}

#ft-logo-name {
	color: var(--Gray-White);
	font-family: "Work Sans", sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 40px;
}

.ft-menu {
	display: flex;
	align-items: flex-start;
	list-style: none;
}

.ft-menu a {
	text-decoration: none;
	font-family: "Work Sans", sans-serif;
	padding: 12px 24px;
	font-size: 12px;
	color: var(--Gray-50);
}

@media screen and (max-width: 767px) {
	.navbar {
		position:fixed;
		top: 0;
		right: 100%;
		width: 100%;
		min-height: 100vh;
		display: block;
		z-index: 98;
		-webkit-transition: 0.4s;
		transition: 0.4s;
		background-color: rgba(165, 61, 255, 0.6);
		backdrop-filter: blur(5px);
		padding: 3rem;
		border-radius: 0;
	}

	.navbar hr {
		height: 1px;
	}

	#logo {
		display: flex;
		justify-content: start;
		align-items: center;
		gap: 12px;
		margin: 0 2rem;
	}

	#logo-letter {
		display: flex;
		height: 56px;
		padding: 0px 20px;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
		border-radius: 1000px;
		background: var(--Gray-White);
		color: var(--Primary-500);
		font-family: "Work Sans", sans-serif;
		font-size: 20px;
		font-style: normal;
		font-weight: 600;
		line-height: 56px;
	}

	#logo-name {
		color: var(--Gray-White);
		font-family: "Work Sans", sans-serif;
		font-size: 26px;
		font-style: normal;
		font-weight: 600;
		line-height: 40px;
	}

	.menu {
		display: grid;
		list-style: none;
		margin: 5rem 0;
		width: 100%;
	}

	.menu a {
		font-weight: 600;
		text-decoration: none;
		color: var(--Gray-White);
		font-family: "Work Sans", sans-serif;
		padding: 12px 12px;
		font-size: 28px;
	}

	.menu a:hover {
		height: 80%;
		border-left: 3px var(--Gray-White) solid;
	}

	.menu svg {
		width: 40px;
		height: auto;
	}

	.cl-container {
		position: relative;
		overflow: visible;
		display: none;
		height: 448px;
	}

	.cl-container::before {
		display: none;
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 30%; 
		background: linear-gradient(180deg, rgba(218, 77, 241, 0.2), rgba(196, 245, 233, 0.8));
		filter: blur(150px);
		z-index: 0; 
	}

	.cl-container::after {
		display: none;
		content: '';
		position: absolute;
		top: 10%;
		left: 0;
		bottom: 0;
		width: 3%; 
		background: rgba(218, 77, 241, 0.5);
		filter: blur(150px);
		z-index: 0; 
	}

	.mobile-navbar {
		display: flex;
		justify-content: space-between;
		margin: 1rem 0 3rem 0;
	}
	#mb-logo {
		display: flex;
		justify-content: start;
		align-items: center;
		gap: 12px;
		margin: 0;
	}

	#mb-logo-letter {
		display: flex;
		height: 56px;
		padding: 0px 20px;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
		border-radius: 1000px;
		background: var(--Primary-500);
		color: var(--Gray-White);
		font-family: "Work Sans", sans-serif;
		font-size: 20px;
		font-style: normal;
		font-weight: 600;
		line-height: 56px;
	}

	#mb-logo-name {
		color: var(--Gray-800);
		font-family: "Work Sans", sans-serif;
		font-size: 26px;
		font-style: normal;
		font-weight: 600;
		line-height: 40px;
	}

	.burgerMenu {
		position: relative;
		display: block;
		width: 35px;
		cursor: pointer;
		appearance: none;
		background: none;
		outline: none;
		border: none;
		z-index: 98;
	}

	.burgerMenu .menuBar,
	.burgerMenu:after, 
	.burgerMenu:before {
		content: '';
		display: block;
		width: 100%;
		height: 5px;
		background-color: var(--Gray-800);
		margin: 6px 0;
		transition: 0.4s;
	}

	.burgerMenu.is-active:before {
		transform: rotate(-45deg) translate(-8px, 6px);
	}

	.burgerMenu.is-active:after {
		transform: rotate(45deg) translate(-9px, -8px);
	}

	.burgerMenu.is-active .menuBar {
		opacity: 0;
	}

	.navbar.is-active {
		right:0;
	}

	.lg-container {
		position: relative;
		display: grid;
		padding: 1rem;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		box-shadow: 0 0 0 0;
		border: none;
		border-radius: 0;
		font-family: "Work Sans", sans-serif;
		background-color: #fff;
		z-index: 0;
	}

	.lt-blog {
		width: 100%;
	}

	.lt-blog h1 {
		font-size: 40px;
		font-weight: 600;
	}

	.lt-blog p {
		font-size: 16px;
		padding: 1rem;
	}

	.lt-blog button {
		font-size: 18px;
		border: 2px #000 solid;
		border-radius: 10px;
		color: #000;
		font-weight: 600;
		background-color: transparent;
		padding: 1rem;
		margin-left: 0;
	}

	.lg-div {
		position: relative;
		width: 100%;
		margin-left: 0;
		margin-top: 2rem;
		background-color: #fff;
	}

	.lg-div h1 {
		position: relative;
		font-size: 40px;
		font-weight: 600;
		width: 90%;
	}

	.lg-div h1 span {
		position: relative;
		color: var(--Primary-500);
	}

	.lg-div p {
		position: relative;
		font-size: 16px;
		font-weight: 200;
		padding: 1rem 0;
	}

	form {
		position: relative;
		display: grid;
		gap: 1rem;
		width: 100%;
	}

	.valid-div {
		color: crimson;
		margin-top: 0.1rem;
	}

	#errorNote {
		display: none;
	}

	form input {
		position: relative;
		height: 2rem;
		padding: 1rem;
		border: none;
		border-bottom: 1px var(--Gray-500) solid;
		font-size: 16px;
		font-weight: 200;
	}

	form input[type="password"] {
		margin-top: 1rem;
	}


	form button {
		position: relative;
		font-size: 18px;
		color: #fff;
		padding: 1rem 1.5rem;
		margin-top: 1rem;
		margin-bottom: 2rem;
		border-radius: 5px;
		border: none;
		background-color: var(--Primary-500);
		width: 180px;
		text-align: center;
		font-weight: 600;
	}

	form button svg {
		position: relative;
		margin-left: 1rem;
	}

	.footer-container {
		position: relative;
		display: grid;
		justify-content: center;
		font-family: "Work Sans", sans-serif;
		background-color: var(--Gray-800);
		padding: 6rem 0;

	}

	.footer-nav {
		position: relative;
		display: grid;
		width: 100%;
		margin-top: 2rem;
		padding: 2rem;
		gap: 20px;
		align-items: center;
		color: var(--Gray-White);
	}

	#ft-logo {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 12px;
	}

	#ft-logo-letter {
		display: flex;
		height: 56px;
		padding: 0px 20px;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
		border-radius: 1000px;
		background: var(--Primary-500);
		color: var(--Gray-White);
		font-family: "Work Sans", sans-serif;
		font-size: 18px;
		font-style: normal;
		font-weight: 600;
		line-height: 56px;
	}

	#ft-logo-name {
		color: var(--Gray-White);
		font-family: "Work Sans", sans-serif;
		font-size: 24px;
		font-style: normal;
		font-weight: 600;
		line-height: 40px;
	}

	.ft-menu {
		position: relative;
		display: grid;
		align-items: flex-start;
		list-style: none;
		text-align: center;
	}

	.ft-menu a {
		position: relative;
		text-decoration: none;
		font-family: "Work Sans", sans-serif;
		padding: 1rem 2rem;
		font-size: 12px;
		color: var(--Gray-50);
	}
}