@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--Primary-500: #A53DFF;
	--Gray-White: #FFF;
	--Gray-900: #132238;
	--Gray-bg: #EDD8FF;
	--Gray-700: #424E60;
	--Gray-500: #697484;
	--Gray-50: #F0F1F3;
	--Gray-400: #87909D;
	--Gray-600: #556070;
	--Gray-800: #2B384C;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: transparent; 
}

::-webkit-scrollbar-thumb {
	background: none;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--Gray-700); 
}

.querries {
	display: flex;
	height: 100vh;
	overflow: hidden;
}

.navbar {
	display: grid;
	width: 25%;
	height: 100vh;
	background-color: var(--Primary-500);
	padding: 3rem;
	border-radius: 10px;
}

.navbar hr {
	height: 1px;
}

#logo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
}

#logo-letter {
	display: flex;
	height: 56px;
	padding: 0px 20px;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	border-radius: 1000px;
	background: var(--Gray-White);
	color: var(--Primary-500);
	font-family: "Work Sans", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 56px;
}

#logo-name {
	color: var(--Gray-White);
	font-family: "Work Sans", sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 40px;
}

.menu {
	display: grid;
	list-style: none;
	margin: 2rem 0;
	width: 100%;
}

.menu a {
	text-decoration: none;
	color: var(--Gray-White);
	font-family: "Work Sans", sans-serif;
	padding: 12px 12px;
	font-size: 18px;
}

.menu a:hover {
	height: 80%;
	border-left: 3px var(--Gray-White) solid;
}

.menu svg {
	width: 20px;
	height: auto;
}

.burgerMenu {
	display: none;
}

.adm-container {
	width: 75%;
}

.header-div {
	display: flex;
	width: 100%;
	justify-content: end;
	background-color: var(--Gray-White);
	box-shadow: 10px 1px 10px 1px;
	padding: 0.5rem;
}

.prl-container {
	display: flex;
	margin-right: 2rem;
}

.prf-ph  {
	margin: 0.5rem 1rem;
}

.prf-ph img {
	max-width: 100%;
	max-height: 100%;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.prf-ph svg {
	position: absolute;
	top: 0.8rem;
	right: 15.2rem;
}

.prf-deatails .name {
	font-family: "Work Sans", sans-serif;
	font-size: 28px;
	font-weight: 500;
}

.prf-deatails .email {
	font-family: "Work Sans", sans-serif;
	font-size: 18px;
	font-weight: 200;
}

.qry-container {
	margin: 2rem;
	font-family: "Work Sans", sans-serif;
}

.tb-container {
	background-color: #fff;
	border-radius: 10px;
	border: none;
	padding: 2rem;
	box-shadow: 1px 1px 10px 1px;
	margin: 1rem 0;
	max-height: 460px;
	overflow: auto;
}

table {
	border-collapse: collapse;
}

table th {
	padding: 1rem 0;
	background-color: var(--Gray-50);
}

table td {
	font-size: 12px;
	padding: 1rem;
}

table tr:nth-child(even) {
	background-color: var(--Gray-50);
}

@media screen and (max-width: 767px) {
	.dashboard {
		display: flex;
		height: 100vh;
		overflow: visible;
	}

	.navbar {
		position: fixed;
		top: 0;
		right: 100%;
		width: 100%;
		min-height: 100vh;
		display: block;
		z-index: 1;
		-webkit-transition: 0.4s;
		transition: 0.4s;
		background-color: rgba(165, 61, 255, 0.6);
		backdrop-filter: blur(5px);
		padding: 3rem;
		border-radius: 0;
	}

	.navbar hr {
		height: 1px;
	}

	#logo {
		display: flex;
		justify-content: start;
		align-items: center;
		gap: 12px;
		margin: 0 2rem;
	}

	#logo-letter {
		display: flex;
		height: 56px;
		padding: 0px 20px;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
		border-radius: 1000px;
		background: var(--Gray-White);
		color: var(--Primary-500);
		font-family: "Work Sans", sans-serif;
		font-size: 20px;
		font-style: normal;
		font-weight: 600;
		line-height: 56px;
	}

	#logo-name {
		color: var(--Gray-White);
		font-family: "Work Sans", sans-serif;
		font-size: 26px;
		font-style: normal;
		font-weight: 600;
		line-height: 40px;
	}

	.menu {
		display: grid;
		list-style: none;
		margin: 5rem 0;
		width: 100%;
	}

	.menu a {
		font-weight: 600;
		text-decoration: none;
		color: var(--Gray-White);
		font-family: "Work Sans", sans-serif;
		padding: 12px 12px;
		font-size: 28px;
	}

	.menu a:hover {
		height: 80%;
		border-left: 3px var(--Gray-White) solid;
	}

	.menu svg {
		width: 40px;
		height: auto;
	}

	.adm-container {
		width: 100%;
	}

	.header-div {
		display: flex;
		width: 100%;
		justify-content: start;
		background-color: var(--Gray-White);
		box-shadow: 0 0 0 0;
		padding: 0.5rem;
	}

	.prl-container {
		display: flex;
		margin-right: 2rem;
	}

	.prf-ph  {
		margin: 0.5rem 1rem;
	}

	.prf-ph img {
		max-width: 100%;
		max-height: 100%;
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}

	.prf-ph svg {
		position: absolute;
		top: 0.8rem;
		right: 3.2rem;
		left: 3.5rem;
	}


	.burgerMenu {
		position: relative;
		display: block;
		width: 35px;
		cursor: pointer;
		appearance: none;
		background: none;
		outline: none;
		border: none;
		z-index: 1;
	}

	.burgerMenu .menuBar,
	.burgerMenu:after, 
	.burgerMenu:before {
		content: '';
		display: block;
		width: 100%;
		height: 5px;
		background-color: var(--Gray-800);
		margin: 6px 0;
		transition: 0.4s;
	}

	.burgerMenu.is-active:before {
		transform: rotate(-45deg) translate(-8px, 6px);
	}

	.burgerMenu.is-active:after {
		transform: rotate(45deg) translate(-9px, -8px);
	}

	.burgerMenu.is-active .menuBar {
		opacity: 0;
	}

	.navbar.is-active {
		right:0;
	}

	.qry-container {
		margin: 2rem 0;
		font-family: "Work Sans", sans-serif;
		width: 100%;
	}

	.qry-container h1 {
		text-align: center;
	}

	.tb-container {
		background-color: #fff;
		border-radius: 10px;
		border: none;
		padding: 2rem 0;
		box-shadow: 0 0 0 0;
		margin: 1rem 0;
		max-height: 640px;
		overflow: auto;
	}

	table {
		border-collapse: collapse;
		width: 100%;
	}

	table th {
		padding: 1rem 0;
		background-color: var(--Gray-50);
	}

	table td {
		font-size: 8px;
		padding: 1rem;
	}

	table tr:nth-child(even) {
		background-color: var(--Gray-50);
	}
}