@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--Primary-500: #A53DFF;
	--Gray-White: #FFF;
	--Gray-900: #132238;
	--Gray-bg: #EDD8FF;
	--Gray-700: #424E60;
	--Gray-500: #697484;
	--Gray-50: #F0F1F3;
	--Gray-400: #87909D;
	--Gray-600: #556070;
	--Gray-800: #2B384C;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: transparent; 
}

::-webkit-scrollbar-thumb {
	background: none;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--Gray-700); 
}

.navbar {
	display: flex;
	width: 100%;
	padding: 10px 150px;
	justify-content: space-between;
	align-items: center;
}

#logo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
}

#logo-letter {
	display: flex;
	height: 56px;
	padding: 0px 20px;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	border-radius: 1000px;
	background: var(--Primary-500);
	color: var(--Gray-White);
	font-family: "Work Sans", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 56px;
}

#logo-name {
	color: var(--Gray-900);
	font-family: "Work Sans", sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 40px;
}

.menu {
	display: flex;
	align-items: flex-start;
	list-style: none;
}

.menu a {
	text-decoration: none;
	color: #333333;
	font-family: "Work Sans", sans-serif;
	padding: 12px 24px;
	font-size: 12px;
}

.menu a:hover {
	background: var(--Primary-500);
	color: var(--Gray-White);
	font-weight: 700;
	font-size: 14px;
	border-radius: 5px;
}

.mobile-navbar {
	display: none;
}

.intro-container {
	position: relative;
	overflow: hidden;
	display: flex;
	padding: 40px 150px 40px 150px;
	height: 100%;
}

.intro-container::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 30%; 
	background: linear-gradient(180deg, rgba(218, 77, 241, 0.2), rgba(196, 245, 233, 0.8));
	filter: blur(150px);
	z-index: 0; 
}

.gt-container {
	display: grid;
	z-index: 1;
}

.gt-div {
	width: 618px;
	margin-top: 60px;
	font-family: "Work Sans", sans-serif;
}

#gt-header {
	display: grid;
	gap: 6px;
	font-size: 56px;
	font-weight: 700;
	font-style: normal;
}

#gt-page {
	margin-top: 24px;
	font-size: 16px;
	color: var(--Gray-500);
}

#gt-page span {
	position: relative;
	z-index: 1; 
}

#gt-page span::before {
	content: '';
	position: absolute;
	top: 0.7rem;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 20%;
	background: rgba(220, 20, 60, 0.3);
	z-index: 0;
}

.gt-div button {
	margin-top: 24px;
	font-family: "Work Sans", sans-serif;
	font-weight: 600;
	font-size: 16px;
	background-color: var(--Primary-500);
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 12px 24px;
	gap: 12;
}

.exp-summary {
	position: relative;
	display: flex;
	width: 618px;
	margin-top: 50px;
	margin-bottom: 0;
}

.summary-div{
	display: grid;
	background-color: var(--Gray-bg);
	width: 30%;
	padding: 6px 12px;
	font-family: "Work Sans", sans-serif;
	justify-content: center;
	align-content: center;
}

.tm-container {
	margin-right: 12px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.pjs-container {
	margin-right: 12px;
}

.cts-container {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.container-hd {
	font-size: 24px;
	color: var(--Gray-700);
	font-weight: 700;
	text-align: center;
}

.container-txt {
	color: var(--Gray-500);
}

.intro-container img {
	max-width: 100%;
	max-height: 100%;
	width: 444px;
	height: 444px;
	margin: 50px 4rem 0 4rem;
	z-index: 1;
}

.ab-sk-container {
	position: relative;
	display: grid;
	z-index: 0;
}

.ab-container {
	position: absolute;
	top: 0;
	display: flex;
	width: 1020px;
	border: none;
	border-radius: 10px;
	margin-left: 150px;
	padding: 50px;
	z-index: 1;
	background: #fff;
}

.social-container {
	z-index: 1;
}

.social-container #ab-photo {
	max-width: 100%;
	max-height: 100%;
	width: 300px;
	height: 300px;
	margin: 50px 4rem 0 4rem;
	z-index: 1;
}

.social-media {
	position: absolute;
	display: flex;
	justify-content: center;
	align-content: center;
	background-color: #fff;
	width: 250px;
	height: 50px;
	border: none;
	border-radius: 5px;
	margin-left: 5.5rem;
	top: 23.5rem;
	z-index: 1;
}

.smedia svg {
	width: 50px;
	height: 50px;
	padding: 15px;
	border: none;
	border-radius: 5px;
	fill: var(--Primary-500);
}

.smedia svg:hover {
	background-color: var(--Primary-500);
	border-radius: 5px;
	fill: #fff;
	z-index: 1;
}

.cv {
	display: grid;
	width: 350px;
	margin: 60px 4rem 0 6rem;
	z-index: 1;

}

.cv h1 {
	font-family: "Work Sans", sans-serif;
	font-size: 25px;
	font-weight: 600;
	z-index: 1;
}

.cv p {
	font-family: "Work Sans", sans-serif;
	font-size: 15px;
	color: var(--Gray-500);
	padding: 0.5rem 0;
	z-index: 1;
}

.cta button {
	width: 150px;
	height: 50px;
	border-radius: 5px;
	font-family: "Work Sans", sans-serif;
	font-size: 15px;
	font-weight: 600;
	z-index: 1;
}

#prj-btn {
	border: none;
	background-color: var(--Primary-500);
	color: #fff;
	margin-right: 20px;
	z-index: 1;
}

#cv-btn {
	background-color: transparent;
	border: 2px var(--Primary-500) solid;
	color: var(--Primary-500);
	z-index: 1;
}

.colorful-bg {
	position: relative;
	overflow: hidden;
	display: flex;
	height: 400px;
}

.colorful-bg::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 35%; 
	background: linear-gradient(180deg, rgba(196, 245, 233, 1), #fff);
	filter: blur(150px);
	z-index: 0; 
}

.colorful-bg::after {
	content: '';
	position: absolute;
	top: 90%;
	left: 0;
	bottom: 0;
	width: 55%; 
	background: orange;
	filter: blur(150px);
	z-index: 0; 
}

.sk-container {
	position: relative;
	margin-top: 0;
	background-color: var(--Gray-50);
	font-family: "Work Sans", sans-serif;
	z-index: 0;
}

.skills-div {
	display: flex;
	width: 1020px;
	border: none;
	border-radius: 10px;
	margin: 150px 150px;
}

.sk-summary {
	width: 950px;
	margin: 8rem 4rem 0 0;
}

.sk-summary p {
	padding-top: 2rem;
	color: var(--Gray-500);
}

.sk-cards {
	display: flex;
	margin: 1.3rem 0;
}

.first-cards {
	margin: 0 1rem;
}

.card {
	margin: 1rem 0;
	padding: 25px;
	border: none;
	border-radius: 5px;
	background-color: #fff;
}

.card:hover {
	margin-top: -1rem;
	box-shadow: 1px 1px 30px 1px;
}

.sk-media svg {
	width: 50px;
	height: 50px;
	padding: 15px;
	border: none;
	border-radius: 5px;
	fill: var(--Primary-500);
	background-color: var(--Gray-bg);
}

.sk-media svg:hover {
	background-color: var(--Primary-500);
	border-radius: 5px;
	fill: #fff;
	z-index: 1;
}

.card h1 {
	font-size: 16px;
	padding: 10px 0;
}

.card p {
	font-size: 12px;
	width: 180px;
	color: var(--Gray-500);
}

.pf-title {
	text-align: center;
	font-family: "Work Sans", sans-serif;
	margin-top: 3rem;
}

.pf-title h1 {
	font-size: 35px;
}

.pf-title p {
	font-size: 15px;
	color: var(--Gray-400);
	text-align: center;
	padding: 0 27rem;
	margin-top: 2rem;
}

.pf-cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 12px;
	margin: 4rem 150px;
	font-family: "Work Sans", sans-serif;
}

.pf-card {
	width: 340px;
	border-radius: 10px;
	border: 1px var(--Gray-50) solid;
	flex-shrink: 0;
	scroll-snap-align: start;
	transition: transform 0.3s ease;
}

.pf-card:hover {
	box-shadow: 1px 1px 10px 1px;
	transform: scale(1.05);
}

.pf-card img {
	max-width: 100%;
	max-height: 100%;
	width: 400px;
}

.pf-text {
	padding: 1rem;
}

.pf-cat {
	color: var(--Gray-400);
	font-size: 12px;
}

.pf-text h1 {
	font-size: 18px;
	padding: 1rem 0;
}

.pf-text p {
	color: var(--Gray-600);
	font-size: 14px;
}

.pf-desc button {
	font-size: 14px;
	color: var(--Primary-500);
	padding: 1rem 1.5rem;
	margin: 0 0 1rem 1rem;
	border-radius: 5px;
	border: 2px var(--Primary-500) solid;
	background-color: transparent;
}

.pf-desc button svg {
	margin-left: 1rem;
}

.bl-container {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.bl-container::before {
	content: '';
	position: absolute;
	top: 30%;
	right: 0;
	bottom: 0;
	width: 10%; 
	background: linear-gradient(180deg, rgba(196, 245, 233, 1), #fff);
	filter: blur(150px);
	z-index: 0; 
}

.bl-container::after {
	content: '';
	position: absolute;
	top: 10%;
	left: 0;
	bottom: 0;
	width: 3%; 
	background: rgba(218, 77, 241, 0.5);
	filter: blur(150px);
	z-index: 0; 
}

.bl-title {
	text-align: center;
	font-family: "Work Sans", sans-serif;
	margin-top: 3rem;
	z-index: 1;
}

.bl-title h1 {
	font-size: 35px;
	z-index: 1;
}

.bl-title p {
	font-size: 15px;
	color: var(--Gray-400);
	text-align: center;
	padding: 0 27rem;
	margin-top: 2rem;
	z-index: 1;
}

.bl-cards {
	display: grid;
	width: 80%;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr, 1fr;
	gap: 12px;
	margin: 4rem 150px;
	font-family: "Work Sans", sans-serif;
	z-index: 1;
}

.bl-card {
	width: 250px;
	border-radius: 10px;
	border: 1px var(--Gray-50) solid;
	flex-shrink: 0;
	scroll-snap-align: start;
	transition: transform 0.3s ease;
	z-index: 1;
}

.bl-card:hover {
	transform: scale(1.05);
}

.bl-card img {
	max-width: 100%;
	max-height: 100%;
	width: 250px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	z-index: 1;
}

.bl-text {
	padding: 1rem;
	z-index: 1;
}

.bl-react {
	display: flex;
	color: var(--Gray-400);
	font-size: 10px;
	gap: 5px;
	z-index: 1;
}

#bl-desc {
	margin-top: 1rem;
}

.pag-container {
	display: flex;
	justify-content: center;
	z-index: 1;
}

.test-container {
	position: relative;
	overflow: hidden;
}

.test-container::before {
	content: '';
	position: absolute;
	top: 30%;
	right: 0;
	bottom: 0;
	width: 10%; 
	background: linear-gradient(180deg, rgba(196, 245, 233, 1), #fff);
	filter: blur(150px);
	z-index: 0; 
}

.test-container::after {
	content: '';
	position: absolute;
	top: 1%;
	left: 0;
	bottom: 0;
	width: 3%; 
	background: rgba(218, 77, 241, 0.5);
	filter: blur(150px);
	z-index: 0; 
}

.test-title {
	text-align: center;
	font-family: "Work Sans", sans-serif;
	margin-top: 3rem;
	z-index: 1;
}

.test-title h1 {
	font-size: 35px;
	z-index: 1;
}

.test-title p {
	font-size: 15px;
	color: var(--Gray-400);
	text-align: center;
	padding: 0 27rem;
	margin-top: 2rem;
	z-index: 1;
}

.test-div {
	margin-top: 3rem;
	margin-left: 20rem;
	margin-bottom: 1rem;
	width: 45rem;
	text-align: center;
	font-family: "Work Sans", sans-serif;
	z-index: 1;
}

.test-div p {
	padding: 1rem 0;
}

.role {
	font-weight: 200;
}

.lst-containers {
	position: relative;
	display: grid;
	font-family: "Work Sans", sans-serif;
}

.contact-container {
	position: absolute;
	top: 0;
	display: flex;
	gap: 4rem;
	width: 1020px;
	border: none;
	border-radius: 10px;
	margin-left: 150px;
	padding: 30px;
	z-index: 1;
	background: #fff;
	box-shadow: 0 0 20px 0;

}

.addr-container h1 {
	font-size: 32px;
}

.addr-container #lc-desc {
	font-size: 16px;
	color: var(--Gray-500);
	padding: 1rem 0;
}

.lc-cards {
	display: grid;
	grid-template-columns: 1fr, 1fr;
	gap: 10px;
	margin: 1rem 0;
}

.lc-card {
	display: flex;
	border: none;
	border-radius: 5px;
	padding: 1rem;
	background-color: #fff;
	width: 300px;
}

.lc-card:hover {
	box-shadow: 1px 2px 15px 1px;
}

.lc-card svg {
	width: 50px;
	height: 50px;
	padding: 15px;
	border: none;
	border-radius: 5px;
	fill: var(--Primary-500);
}

.lc-card svg:hover {
	background-color: var(--Primary-500);
	border-radius: 5px;
	fill: #fff;
}

.lc-card-text {
	display: grid;
	gap: 2px;
	margin-left: 1rem;
}

.lc-card-text p {
	font-size: 15px;
	color: var(--Gray-500);
}

.lc-card-text p:last-child {
	font-size: 15px;
	font-weight: 600;
}

.lc-social-media {
	display: flex;
	justify-content: center;
	align-content: center;
	background-color: #fff;
	width: 250px;
	height: 50px;
	border: none;
	border-radius: 5px;
	margin-top: 1rem;
}

.lc-smedia svg {
	width: 50px;
	height: 50px;
	padding: 15px;
	border: none;
	border-radius: 5px;
	fill: var(--Primary-500);
}

.lc-smedia svg:hover {
	background-color: var(--Primary-500);
	border-radius: 5px;
	fill: #fff;
	z-index: 1;
}

.qrry-container {
	font-family: "Work Sans", sans-serif;
}

.qrry-container p {
	color: var(--Gray-500);
	font-size: 16px;
	padding-top: 1rem;
}

form {
	display: grid;
	grid-template-columns: 1fr, 1fr;
	gap: 0;
	margin-top: 2.5rem;
}

form input {
	font-size: 18px;
	color: var(--Gray-500);
	padding: 0.8rem 0;
	outline: none;
	border: none;
	border-bottom: 1px var(--Gray-50) solid;
}

form input:hover {
	border-bottom: 1px var(--Primary-500) solid;
}

form input:hover::placeholder {
	color: var(--Primary-500);
}

form .valid-p {
	color: crimson;
	display: none;
	font-weight: 200;
}


form button {
	font-size: 18px;
	color: #fff;
	padding: 1rem 1.5rem;
	margin-top: 1rem;
	border-radius: 5px;
	border: none;
	background-color: var(--Primary-500);
	width: 180px;
	text-align: center;
	font-weight: 600;
}

form button svg {
	margin-left: 1rem;
}

.lst-bg-div {
	height: 500px;
}

.footer-container {
	display: grid;
	justify-content: center;
	font-family: "Work Sans", sans-serif;
	background-color: var(--Gray-800);
	padding: 6rem 0;
}

.footer-nav {
	display: flex;
	width: 100%;
	margin-top: 2rem;
	padding: 10px 150px;
	gap: 20px;
	align-items: center;
	color: var(--Gray-White);
}

#ft-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
}

#ft-logo-letter {
	display: flex;
	height: 56px;
	padding: 0px 20px;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	border-radius: 1000px;
	background: var(--Primary-500);
	color: var(--Gray-White);
	font-family: "Work Sans", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 56px;
}

#ft-logo-name {
	color: var(--Gray-White);
	font-family: "Work Sans", sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 40px;
}

.ft-menu {
	display: flex;
	align-items: flex-start;
	list-style: none;
}

.ft-menu a {
	text-decoration: none;
	font-family: "Work Sans", sans-serif;
	padding: 12px 24px;
	font-size: 12px;
	color: var(--Gray-50);
}

@media screen and (max-width: 767px) {
	.navbar {
		position:fixed;
		top: 0;
		right: 100%;
		width: 100%;
		min-height: 100vh;
		display: block;
		z-index: 1;
		-webkit-transition: 0.4s;
		transition: 0.4s;
		background-color: rgba(165, 61, 255, 0.6);
		backdrop-filter: blur(5px);
		padding: 3rem;
		border-radius: 0;
	}

	.navbar hr {
		height: 1px;
	}

	#logo {
		display: flex;
		justify-content: start;
		align-items: center;
		gap: 12px;
		margin: 0 2rem;
	}

	#logo-letter {
		display: flex;
		height: 56px;
		padding: 0px 20px;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
		border-radius: 1000px;
		background: var(--Gray-White);
		color: var(--Primary-500);
		font-family: "Work Sans", sans-serif;
		font-size: 20px;
		font-style: normal;
		font-weight: 600;
		line-height: 56px;
	}

	#logo-name {
		color: var(--Gray-White);
		font-family: "Work Sans", sans-serif;
		font-size: 26px;
		font-style: normal;
		font-weight: 600;
		line-height: 40px;
	}

	.menu {
		display: grid;
		list-style: none;
		margin: 5rem 0;
		width: 100%;
	}

	.menu a {
		font-weight: 600;
		text-decoration: none;
		color: var(--Gray-White);
		font-family: "Work Sans", sans-serif;
		padding: 12px 12px;
		font-size: 28px;
	}

	.menu a:hover {
		height: 80%;
		border-left: 3px var(--Gray-White) solid;
	}

	.menu svg {
		width: 40px;
		height: auto;
	}

	.mobile-navbar {
		position: fixed;
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin: 0;
		padding: 2rem;
		background-color: var(--Gray-White);
		z-index: 1;
	}

	#mb-logo {
		display: flex;
		justify-content: start;
		align-items: center;
		gap: 12px;
		margin: 0;
	}

	#mb-logo-letter {
		display: flex;
		height: 56px;
		padding: 0px 20px;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
		border-radius: 1000px;
		background: var(--Primary-500);
		color: var(--Gray-White);
		font-family: "Work Sans", sans-serif;
		font-size: 20px;
		font-style: normal;
		font-weight: 600;
		line-height: 56px;
	}

	#mb-logo-name {
		color: var(--Gray-800);
		font-family: "Work Sans", sans-serif;
		font-size: 26px;
		font-style: normal;
		font-weight: 600;
		line-height: 40px;
	}

	.burgerMenu {
		position: relative;
		display: block;
		width: 35px;
		cursor: pointer;
		appearance: none;
		background: none;
		outline: none;
		border: none;
		z-index: 1;
	}

	.burgerMenu .menuBar,
	.burgerMenu:after, 
	.burgerMenu:before {
		content: '';
		display: block;
		width: 100%;
		height: 5px;
		background-color: var(--Gray-800);
		margin: 6px 0;
		transition: 0.4s;
	}

	.burgerMenu.is-active:before {
		transform: rotate(-45deg) translate(-8px, 6px);
	}

	.burgerMenu.is-active:after {
		transform: rotate(45deg) translate(-9px, -8px);
	}

	.burgerMenu.is-active .menuBar {
		opacity: 0;
	}

	.navbar.is-active {
		right:0;
	}

	.intro-container {
		position: relative;
		display: grid;
		overflow: visible;
		grid-template-columns: 1fr, 1fr;
		padding: 1rem;
		width: 100%;
		height: 100%;
	}

	.intro-container::before {
		display: none;
	}

	.gt-container {
		display: grid;
		width: 100%;
		z-index: 0;
		margin-top: 8rem;
	}

	.gt-div {
		margin-top: 0;
		width: 100%;
	}

	#gt-header {
		display: grid;
		gap: 6px;
		font-size: 32px;
		font-weight: 700;
		font-style: normal;
		width: 100%;
	}

	#gt-page {
		width: 100%;
		margin-top: 24px;
		font-size: 12px;
		color: var(--Gray-500);
	}

	.exp-summary {
		position: relative;
		display: flex;
		width: 308px;
		margin-top: 40px;
		margin-bottom: 0;
	}

	.summary-div{
		display: grid;
		width: 150px;
		padding: 5px 10px;
	}

	.tm-container,
	.pjs-container {
		margin-right: 6px;
	}

	.container-hd {
		font-size: 12px;
	}

	.container-txt {
		font-size: 8px;
	}

	.intro-container img {
		display: none;
	}

	.ab-sk-container {
		position: relative;
		display: grid;
	}

	.ab-container {
		position: relative;
		top: 0;
		display: grid;
		width: 100%;
		border: none;
		border-radius: 0;
		margin-left: 0;
		padding: 0;
		z-index: 0;
		background: #fff;
	}

	.social-container {
		z-index: 1;
	}

	.social-container #ab-photo {
		max-width: 100%;
		max-height: 100%;
		width: 300px;
		height: 300px;
		margin: 50px 1rem 0 1rem;
		z-index: 0;
	}

	.social-media {
		position: absolute;
		display: flex;
		justify-content: center;
		align-content: center;
		background-color: #fff;
		width: 250px;
		height: 50px;
		border: none;
		border-radius: 5px;
		margin-left: 2.5rem;
		top: 20.5rem;
		z-index: 0;
	}

	.smedia svg {
		width: 50px;
		height: 50px;
		padding: 15px;
		border: none;
		border-radius: 5px;
		fill: var(--Primary-500);
	}

	.smedia svg:hover {
		background-color: var(--Primary-500);
		border-radius: 5px;
		fill: #fff;
		z-index: 0;
	}

	.cv {
		display: grid;
		width: 300px;
		margin: 60px 1rem 30px 1rem;
		z-index: 0;

	}

	.cv h1 {
		font-family: "Work Sans", sans-serif;
		font-size: 22px;
		font-weight: 600;
		z-index: 0;
	}

	.cv p {
		font-family: "Work Sans", sans-serif;
		font-size: 15px;
		color: var(--Gray-500);
		padding: 1rem 0;
		z-index: 0;
	}

	.cta button {
		width: 130px;
		height: 50px;
		border-radius: 5px;
		font-family: "Work Sans", sans-serif;
		font-size: 14px;
		font-weight: 600;
		z-index: 0;
	}

	#prj-btn {
		border: none;
		background-color: var(--Primary-500);
		color: #fff;
		margin-right: 20px;
		z-index: 0;
	}

	#cv-btn {
		background-color: transparent;
		border: 2px var(--Primary-500) solid;
		color: var(--Primary-500);
		z-index: 0;
	}

	.colorful-bg {
		position: relative;
		overflow: visible;
		display: none;
		height: 400px;
	}

	.colorful-bg::before {
		display: none;
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 35%; 
		background: linear-gradient(180deg, rgba(196, 245, 233, 1), #fff);
		filter: blur(150px);
		z-index: 0; 
	}

	.colorful-bg::after {
		display: none;
		content: '';
		position: absolute;
		top: 90%;
		left: 0;
		bottom: 0;
		width: 55%; 
		background: orange;
		filter: blur(150px);
		z-index: 0; 
	}

	.sk-container {
		position: relative;
		width: 100%;
		margin-top: 0;
		background-color: var(--Gray-50);
		font-family: "Work Sans", sans-serif;
		z-index: 0;
	}

	.skills-div {
		display: grid;
		width: 100%;
		border: none;
		border-radius: 10px;
		margin: 5px 0;
		width: 100vw;
	}

	.sk-summary {
		width: 100%;
		margin: 1rem 4rem 0 0;
		text-align: center;
	}

	.sk-summary p {
		padding: 2rem;
		color: var(--Gray-500);
	}

	.sk-cards {
		display: grid;
		margin: 1.3rem 0;
		width: 100%;
	}

	.first-cards {
		margin: 0;
	}

	.card {
		margin: 2rem;
		padding: 25px;
		border: none;
		border-radius: 5px;
		background-color: #fff;
	}

	.card:hover {
		margin-top: -1rem;
		box-shadow: 1px 1px 30px 1px;
	}

	.sk-media svg {
		width: 50px;
		height: 50px;
		padding: 15px;
		border: none;
		border-radius: 5px;
		fill: var(--Primary-500);
		background-color: var(--Gray-bg);
	}

	.sk-media svg:hover {
		background-color: var(--Primary-500);
		border-radius: 5px;
		fill: #fff;
		z-index: 0;
	}

	.card h1 {
		font-size: 16px;
		padding: 10px 0;
	}

	.card p {
		font-size: 12px;
		width: 100%;
		color: var(--Gray-500);
	}

	.pf-container {
		width: 100%;
	}

	.pf-title {
		text-align: center;
		font-family: "Work Sans", sans-serif;
		margin-top: 3rem;
	}

	.pf-title h1 {
		font-size: 35px;
	}

	.pf-title p {
		font-size: 12px;
		color: var(--Gray-400);
		text-align: center;
		padding: 0 1rem;
		margin-top: 2rem;
	}

	.pf-cards {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 1rem;
		margin: 2rem 0;
		font-family: "Work Sans", sans-serif;
		width: 100%;
	}

	.pf-card {
		width: 80%;
		margin: 0 10%;
		border-radius: 10px;
		border: 1px var(--Gray-50) solid;
		flex-shrink: 0;
		scroll-snap-align: start;
		transition: transform 0.3s ease;
	}

	.pf-card:hover {
		box-shadow: 1px 1px 10px 1px;
		transform: scale(1.05);
	}

	.pf-card img {
		max-width: 100%;
		max-height: 100%;
		width: 400px;
	}

	.pf-text {
		padding: 1rem;
	}

	.pf-cat {
		color: var(--Gray-400);
		font-size: 12px;
	}

	.pf-text h1 {
		font-size: 18px;
		padding: 1rem 0;
	}

	.pf-text p {
		color: var(--Gray-600);
		font-size: 14px;
	}

	.pf-desc button {
		font-size: 14px;
		color: var(--Primary-500);
		padding: 1rem 1.5rem;
		margin: 0 0 1rem 1rem;
		border-radius: 5px;
		border: 2px var(--Primary-500) solid;
		background-color: transparent;
	}

	.pf-desc button svg {
		margin-left: 1rem;
	}

	.bl-container {
		position: relative;
		overflow: visible;
		width: 100%;
	}

	.bl-container::before {
		display: none;
		content: '';
		position: absolute;
		top: 30%;
		right: 0;
		bottom: 0;
		width: 10%; 
		background: linear-gradient(180deg, rgba(196, 245, 233, 1), #fff);
		filter: blur(150px);
		z-index: 0; 
	}

	.bl-container::after {
		display: none;
		content: '';
		position: absolute;
		top: 10%;
		left: 0;
		bottom: 0;
		width: 3%; 
		background: rgba(218, 77, 241, 0.5);
		filter: blur(150px);
		z-index: 0; 
	}

	.bl-title {
		text-align: center;
		font-family: "Work Sans", sans-serif;
		margin-top: 3rem;
		z-index: 0;
	}

	.bl-title h1 {
		font-size: 35px;
		z-index: 1;
	}

	.bl-title p {
		font-size: 15px;
		color: var(--Gray-400);
		text-align: center;
		padding: 0 1rem;
		margin-top: 2rem;
		width: 100%;
		z-index: 0;
	}

	.bl-cards {
		position: relative;
		display: grid;
		width: 100%;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: 1fr, 1fr;
		justify-content: center;
		gap: 1rem;
		margin: 2rem 0;
		font-family: "Work Sans", sans-serif;
		z-index: 0;
	}

	.bl-card {
		width: 80%;
		margin: 0 10%;
		border-radius: 10px;
		border: 1px var(--Gray-50) solid;
		flex-shrink: 0;
		scroll-snap-align: start;
		transition: transform 0.3s ease;
		z-index: 0;
	}

	.bl-card:hover {
		transform: scale(1.05);
	}

	.bl-card img {
		max-width: 100%;
		max-height: 100%;
		width: 360px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		z-index: 0;
	}

	.bl-text {
		padding: 1rem;
		z-index: 0;
	}

	.bl-react {
		display: flex;
		color: var(--Gray-400);
		font-size: 10px;
		gap: 5px;
		z-index: 0;
	}

	#bl-desc {
		margin-top: 1rem;
	}

	.test-container {
		position: relative;
		overflow: visible;
		width: 100%;
	}

	.test-container::before {
		display: none;
		content: '';
		position: absolute;
		top: 30%;
		right: 0;
		bottom: 0;
		width: 10%; 
		background: linear-gradient(180deg, rgba(196, 245, 233, 1), #fff);
		filter: blur(150px);
		z-index: 0; 
	}

	.test-container::after {
		display: none;
		content: '';
		position: absolute;
		top: 1%;
		left: 0;
		bottom: 0;
		width: 3%; 
		background: rgba(218, 77, 241, 0.5);
		filter: blur(150px);
		z-index: 0; 
	}

	.test-title {
		text-align: center;
		font-family: "Work Sans", sans-serif;
		margin-top: 3rem;
		z-index: 0;
		width: 100%;
	}

	.test-title h1 {
		font-size: 35px;
		z-index: 1;
	}

	.test-title p {
		font-size: 15px;
		color: var(--Gray-400);
		text-align: center;
		padding: 0 2rem;
		margin-top: 2rem;
		z-index: 0;
	}

	.test-div {
		margin: 1rem 0;
		width: 100%;
		text-align: center;
		font-family: "Work Sans", sans-serif;
		z-index: 1;
	}

	.test-div p {
		padding: 1rem 2rem;
	}

	.role {
		font-weight: 200;
	}

	.lst-containers {
		position: relative;
		display: grid;
		font-family: "Work Sans", sans-serif;
		width: 100%;
	}

	.contact-container {
		position: relative;
		top: 0;
		display: grid;
		gap: 4rem;
		width: 98%;
		border: none;
		border-radius: 0;
		margin: 1rem 0;
		padding: 50px;
		z-index: 0;
		background: #fff;
		box-shadow: 0 0 0 0;
	}

	.addr-container {
		width: 100%;
	}

	.addr-container h1 {
		font-size: 32px;
		text-align: center;
	}

	.addr-container #lc-desc {
		font-size: 16px;
		color: var(--Gray-500);
		padding: 1rem 0;
	}

	.lc-cards {
		display: grid;
		grid-template-columns: 1fr, 1fr;
		gap: 10px;
		margin: 1rem 0;
	}

	.lc-card {
		display: flex;
		border: none;
		border-radius: 5px;
		padding: 1rem;
		background-color: #fff;
		width: 300px;
	}

	.lc-card:hover {
		box-shadow: 1px 2px 15px 1px;
	}

	.lc-card svg {
		width: 50px;
		height: 50px;
		padding: 15px;
		border: none;
		border-radius: 5px;
		fill: var(--Primary-500);
	}

	.lc-card svg:hover {
		background-color: var(--Primary-500);
		border-radius: 5px;
		fill: #fff;
	}

	.lc-card-text {
		display: grid;
		gap: 2px;
		margin-left: 1rem;
	}

	.lc-card-text p {
		font-size: 15px;
		color: var(--Gray-500);
	}

	.lc-card-text p:last-child {
		font-size: 15px;
		font-weight: 600;
	}

	.lc-social-media {
		display: flex;
		justify-content: center;
		align-content: center;
		background-color: #fff;
		width: 250px;
		height: 50px;
		border: none;
		border-radius: 5px;
		margin-top: 1rem;
	}

	.lc-smedia svg {
		width: 50px;
		height: 50px;
		padding: 15px;
		border: none;
		border-radius: 5px;
		fill: var(--Primary-500);
	}

	.lc-smedia svg:hover {
		background-color: var(--Primary-500);
		border-radius: 5px;
		fill: #fff;
		z-index: 0;
	}

	.qrry-container {
		font-family: "Work Sans", sans-serif;
		width: 100%;
	}

	.qrry-container p {
		color: var(--Gray-500);
		font-size: 16px;
		padding-top: 1rem;
	}

	form {
		display: grid;
		grid-template-columns: 1fr, 1fr;
		gap: 1rem;
		margin-top: 2.5rem;
		width: 100%;
	}

	form input {
		font-size: 18px;
		color: var(--Gray-500);
		padding: 0.5rem 0;
		outline: none;
		border: none;
		border-bottom: 2px var(--Gray-50) solid;
	}

	form input:hover {
		border-bottom: 1px var(--Primary-500) solid;
	}

	form input:hover::placeholder {
		color: var(--Primary-500);
	}

	form button {
		font-size: 18px;
		color: #fff;
		padding: 1rem 1.5rem;
		margin-top: 1rem;
		border-radius: 5px;
		border: none;
		background-color: var(--Primary-500);
		width: 180px;
		text-align: center;
		justify-self: center;
		font-weight: 600;
	}

	form button svg {
		margin-left: 1rem;
	}

	.lst-bg-div {
		display: none;
		height: 500px;
	}

	.footer-container {
		display: grid;
		justify-content: center;
		font-family: "Work Sans", sans-serif;
		background-color: var(--Gray-800);
		padding: 6rem 0;
		width: 98%;

	}

	.footer-nav {
		display: grid;
		width: 100%;
		margin-top: 2rem;
		padding: 2rem;
		gap: 20px;
		align-items: center;
		color: var(--Gray-White);
	}

	#ft-logo {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 12px;
	}

	#ft-logo-letter {
		display: flex;
		height: 56px;
		padding: 0px 20px;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
		border-radius: 1000px;
		background: var(--Primary-500);
		color: var(--Gray-White);
		font-family: "Work Sans", sans-serif;
		font-size: 18px;
		font-style: normal;
		font-weight: 600;
		line-height: 56px;
	}

	#ft-logo-name {
		color: var(--Gray-White);
		font-family: "Work Sans", sans-serif;
		font-size: 24px;
		font-style: normal;
		font-weight: 600;
		line-height: 40px;
	}

	.ft-menu {
		display: grid;
		align-items: flex-start;
		list-style: none;
		text-align: center;
	}

	.ft-menu a {
		text-decoration: none;
		font-family: "Work Sans", sans-serif;
		padding: 1rem 2rem;
		font-size: 12px;
		color: var(--Gray-50);
	}
}